[Unit]
Description=Readium License Status Server API
#After=network.target

[Service]
#Type=simple
# Another Type option: forking
#User=nanodano
WorkingDirectory="$GOPATH"
ExecStart="$GOPATH/bin/lsdserver"
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
